<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Meta -->
  <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
  <meta name="author" content="Sebastian Manzano">

  <title>Challenge</title>
</head>
<body>
<div class="slim-header">
  <div class="container">
    <div class="slim-header-left">
      <h2 class="slim-logo"><a href="/">Previred</a></h2>
    </div><!-- slim-header-left -->
    <div class="slim-header-right">
      <div class="dropdown dropdown-a">
        <a href="" class="header-notification" data-toggle="dropdown">
          <i class="icon ion-ios-bolt-outline"></i>
        </a>
      </div><!-- dropdown -->
      <div class="dropdown dropdown-c">
        <a href="#" class="logged-user" data-toggle="dropdown">
          <span>{{username}}</span>
        </a>
      </div><!-- dropdown -->
      <div class="dropdown dropdown-c">
        <a href="#" class="logged-user" data-toggle="dropdown">
          <span (click)="logout()">logout</span>
        </a>
      </div><!-- dropdown -->
    </div><!-- header-right -->
  </div><!-- container -->
</div><!-- slim-header -->
<div class="slim-mainpanel">
  <div class="container">
    <div class="slim-pageheader">
      <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
      </ol>
      <h6 class="slim-pagetitle">Empresas</h6>
    </div><!-- slim-pageheader -->
    <div class="section-wrapper mg-t-20">
      <!--label class="section-title">Hoverable Rows</label>
      <p class="mg-b-20 mg-sm-b-40">To enable a hover state on table rows.</p-->

      <div class="table-responsive">
        <table class="table table-hover mg-b-0 table-bordered">
          <thead>
          <tr>
            <th class="wd-15p">ID</th>
            <th class="wd-15p">RUT</th>
            <th class="wd-20p">Empresa</th>
            <th class="wd-10p"></th>
            <th class="wd-10p"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of companies | paginate: config">
            <td>{{ c.id }}</td>
            <td>{{ c.rut }}</td>
            <td>{{ c.companyName }}</td>
            <td><button class="btn btn-danger btn-block mg-b-10" (click)="eliminar()" >Eliminar</button></td>
            <td><button class="btn btn-primary btn-block" (click)="editar()" >Editar</button></td>
          </tr>
          </tbody>
        </table>
        <div class="pagination-wrapper">
          <pagination-controls [id]="'advanced'"
                               [maxSize]="maxSize"
                               [directionLinks]="directionLinks"
                               [autoHide]="autoHide"
                               [responsive]="responsive"
                               [previousLabel]="labels.previousLabel"
                               [nextLabel]="labels.nextLabel"
                               [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                               [screenReaderPageLabel]="labels.screenReaderPageLabel"
                               [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                               (pageChange)="onPageChange($event)"
                               (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>
        </div><!-- pagination-wrapper -->
      </div>
      <div class="section-wrapper">
        <div class="row">
          <div class="col-sm-6 col-md-3"></div><!-- col-sm-3 -->
          <div class="col-sm-6 col-md-3"></div><!-- col-sm-3 -->
          <div class="col-sm-6 col-md-3"></div><!-- col-sm-3 -->
          <div class="col-sm-6 col-md-3">
            <div class="btn-demo">
              <button class="btn btn-primary btn-block mg-b-10" (click)="showModal1()" >Nueva Empresa</button>
            </div><!-- btn-demo -->
          </div><!-- col-sm-3 -->
        </div><!-- row -->
      </div><!-- section-wrapper -->
    </div>

  </div><!-- container -->
</div><!-- slim-mainpanel -->

<div class="slim-footer">
  <div class="container">
    <p>Copyright 2018 &copy; All Rights Reserved. Slim Dashboard Template</p>
    <p>Designed by: <a href="">ThemePixels</a></p>
  </div><!-- container -->
</div><!-- slim-footer -->

</body>
</html>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Creaci&oacute;n de empresa" (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
      <div class="form-layout form-layout-7">
        <div class="row no-gutters">
          <div class="col-5 col-sm-4">
            Raz&oacute;n social:
          </div><!-- col-4 -->
          <div class="col-7 col-sm-8">
            <input class="form-control" type="text" name="name" placeholder="Razón Social" [(ngModel)]="companyName">
            <ul class="parsley-errors-list filled" id="error-rs" *ngIf="errorRS">
              <li class="parsley-required">{{errorRSMsg}}</li>
            </ul>
          </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
          <div class="col-5 col-sm-4">
            Rut:
          </div><!-- col-4 -->
          <div class="col-7 col-sm-8">
            <input class="form-control" type="text" name="rut" placeholder="15.722.520-0" [(ngModel)]="rut">
            <ul class="parsley-errors-list filled" id="error-rut" *ngIf="errorRut">
              <li class="parsley-required">{{errorRutMsg}}</li>
            </ul>
          </div><!-- col-8 -->
        </div><!-- row -->
      </div><!-- form-layout -->
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Crear</button>
  </div>
</nz-modal>
